#book-form {
	display: none;
	flex-direction: column;
	outline: auto;
	max-width: 50%;
	padding: 20px;
	justify-content: center;
	align-items: center;
}

.book {
	width: 50%;
}

div {
	outline: auto;
	padding: 20px;
	margin: 10px;
}

#display-book-data {
	margin-top: 50px;
	max-width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
